---
import BaseLayout from "../../layouts/BaseLayout.astro";

export interface Frontmatter {
  topics: string[];
  title: string;
}
export interface Post {
  frontmatter: Frontmatter;
  url: string;
}

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTopics = [
    ...new Set(allPosts.map((post) => post.frontmatter.topics).flat()),
  ];

  return uniqueTopics.map((topic) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.topics.includes(topic)
    );
    return {
      params: { topic },
      props: { posts: filteredPosts, topics: uniqueTopics },
    };
  });
}

const { topic } = Astro.params;
const { posts, topics } = Astro.props;
---

<BaseLayout pageTitle="Topics">
  <h1 class="text-2xl font-bold">Topics</h1>
  <hr class="my-4" />
  <ul class="pl-4 list-disc">
    {
      topics.map((topic: string) => (
        <li>
          <a href={`${topic}`}>{topic}</a>
        </li>
      ))
    }
  </ul>
  <h1 class="text-2xl font-bold">{topic}</h1>
  <hr class="my-4" />
  <ul class="pl-4 list-disc">
    {
      posts.map((post: Post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
